In [6]:
import module

In [37]:
module.addition(2,3)

5

In [38]:
module.substraction(5,4)

1

In [39]:
module.multiplication(2,3)

6

In [40]:
module.division(2,3)

0.6666666666666666

In [41]:
from module import addition
addition(2,3)

5

In [42]:



from module import substraction 
substraction(2,3)

-1

In [43]:
from module import multiplication
multiplication(2,3)

6

# Question 6

In [44]:
n1=int(input("enter number 1: "))
n2=int(input("enter number 2: "))
if n1>n2 :
    print(n1,"is bigger number ")
elif n1==n2 :
    print(n1,"is equal to",n2)
else:
    print(n2,'is bigger number')

enter number 1: 3
enter number 2: 4
4 is bigger number

### armstrong number

123 <br>
number of digit=3 <br>
if 1^3 + 2^3 + 3^3 == 123 <br>
then 123 is a armstrong number <br>

In [45]:
n1=input("enter number 1: ")
n2=len(n1)
if (n1/(10**(n2-1))**n2 + (n1/(10**(n2-1))**n2 :
print(n2)

SyntaxError: invalid syntax (3592718110.py, line 3)

In [46]:
x= int(1234)

len(x)

TypeError: object of type 'int' has no len()

In [47]:
x= str(1234)

len(x)

4

In [48]:
list1=[1,2,3,4]  #list contains int data type 1,2,3,4
list2=['1','2','3','4'] #list contain string datatype '1','2','3','4'

In [49]:
'1'*2 #python considering the 1 as a string

'11'

In [50]:
'4'*5     # 4 times 5 becoz python considering 4 , 5 times

'44444'

### armstrong number

In [60]:
num=int(input("enter the number: "))
def armstrong_num(num):
    str_num = str(num)
    m = len(str_num)
    total=0
    
    for i in str_num:
        total = total + (int(i)**m )
    if total== num :
        print(num,"armstrong number")
    else:
        print(num,"is not a armstrong nummber")
armstrong_num(num)

enter the number: 123
123 is not a armstrong nummber

### prime number

In [23]:
num=int(input("enter the number: "))
result=[]

def store_room_i(num) :
    for i in range(num) :
        if num % (i+1) == 0 and (i+1 == num or i+1 == 1) :
            result.append(i)
    return result

store_room_i(num)
if len(result)==2 :
    print(num,"is a prime number")
else :
    print(num,"is not a prime number")

enter the number: 6
6 is a prime number

In [28]:
num = int(input("Enter the number: "))
result = []

def store_room_i(num):
    for i in range(num):
        if num % (i + 1) == 0 :
            result.append(i)
    return result

store_room_i(num)

if num <= 1:
    print(num, "is not a prime number")
elif len(result) == 2:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the number: 5
5 is a prime number

## python basic handson 3/02/2024 - handson video 2

#### Break : if the condition is satisfied then loop is  terminated

##### i==4 comparision(matching) operator <br> i=4 assignment operator

In [29]:
for i in range(10) :
    print(i)
    if i==4 :
        break

0
1
2
3
4

#### continue : to skip any iteration in specific

In [34]:
for i in range(10): 
    if i ==4 or i == 5:
        continue
    print(i)

0
1
2
3
6
7
8
9

#### pass= it is a place holder which doesn't do anything , where we needed in future we can modify it

In [36]:
for i in range(10): 
    if i ==4:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

## Question 7 , calculator program

In [3]:
operation=input("")
num1=int(input("number1 : "))
num2=int(input("number2 : "))

def calculator_program():
    if operation == "addition" :
        result=num1+num2
    elif operation == "substraction" :
        result=num1-num2
    elif operation == "multiplication" :
        result= num1* num2
    elif operation== "division" :
        result = num1/num2
    print(result)
calculator_program()

division
number1 : 40
number2 : 4
10.0

#### Fibbonacci series

In [17]:
num1=int(input("enter number1: "))
num2=int(input("enter number2: "))
n=int(input("enter the no. of numbers"))
fibb=[]

def fibbonacci_series(num1,num2) :
    result=0
    for i in range(n) :
        num1=num2
        num2=result
        result=num1+num2
        fibb.append(num2)
    print(fibb)
fibbonacci_series(num1,num2)

enter number1: 0
enter number2: 1
enter the no. of numbers7
[0, 1, 1, 2, 3, 5, 8]

#### method 2

In [1]:
def print_fibonacci_series(n):
    a = 0
    b = 1
    for i in range(n):
        print(a)
        
        a = b
        b = next_term
        next_term = a + b
    print()  # For a new line after the series is printed

# Number of terms to be printed
n_terms = 10  

print_fibonacci_series(n_terms)

0

UnboundLocalError: local variable 'next_term' referenced before assignment

#### result transformation from list to inline format <br> print(' '.join(map(str, fibonacci_list)))

In [19]:
print(' '.join(map(str, fibb)))

0 1 1 2 3 5 8

In [4]:
num1=int(input("enter number1: "))
num2=int(input("enter number2: "))
n=int(input("enter the no. of numbers: "))

def fibbonacci_series(num1,num2) :
    result=0
    for i in range(n) :
        num1=num2
        num2=result
        result=num1+num2
        print(result,' ')
fibbonacci_series(num1,num2)

enter number1: 0
enter number2: 1
enter the no. of numbers5
1
1
2
3
5

##### question 9

create a nested dictionary with values as nested list for each key in the dictionary

#the concept
dict = {'key1': "value"
        'key2' : "value"
       }

In [7]:
nest_dict= {'dict1': {'key1':"value", 'Key2': "value"},
            'dict2': {'key3':"value3",'key4':"value4"}
           }
nest_dict

{'dict1': {'key1': 'value', 'Key2': 'value'},
 'dict2': {'key3': 'value3', 'key4': 'value4'}}

### question 10

create two stes and perform the following 

1) union of the set  <br>
2) intrsection of the  set

In [15]:

set1=set(input().split())
print(set1)

1 2 3
{'3', '1', '2'}

In [20]:
string = input("enter the string : ")
split_string=string.split()  # split 1 ,2 ,3 into ['1','2','3']
print(string)
print(split_string)

enter the string : 1 2 3
1 2 3
['1', '2', '3']

In [21]:
set(split_string)

{'1', '2', '3'}

## now come to the main question

In [4]:
set1=set(input().split())
set2=set(input().split())
union=set1.union(set2)
intersection=set1.intersection(set2)
print(union) 

print(intersection)

1 2 3 4
2 3 4 5
{'2', '1', '4', '5', '3'}
{'2', '3', '4'}

### 11. create the nested tuple from the dictionary with each item in the tuple as key value pair in the dictionary

In [7]:
dict={'key1': "value1=(1,2,3),value2=(5,6)",
      'key2': "value2"
    }
print(dict)
tuple(dict.items())

{'key1': 'value1=(1,2,3),value2=(5,6)', 'key2': 'value2'}

(('key1', 'value1=(1,2,3),value2=(5,6)'), ('key2', 'value2'))

## question 12

12. Create a list of the first 50 even natural numbers, and perform the following operations. <br>
C. Count the number of elements in the list.<br>
d. Reverse the sequence of the list.<br>
e. Sort the list in ascending and descending order.<br>
f. Get the index value for the element 44, and update the element with the number
100.<br>
g. Return a copy of the list, with the resulting list containing the square of each
element.<br>

In [9]:

for i in range(51,-1,-1):   #from 51 to 0   , last wala -1 says that on the dicriment of 1 
    print(i)

51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [13]:
for i in range(51,-1,-1):   #from 51 to 0   , last wala -1 says that on the dicriment of 1 
    print(i,end =" ")

51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [18]:
for i in range(51, -1, -1):
    if i > 0:
        print(i, end=', ')
    else:
        print(i)

51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0

In [4]:
list=[]
for i in range(51):
    list.append(2*i)
list.remove(0)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

C. Count the number of elements in the list.

In [8]:
len(list)

50

d. Reverse the sequence of the list.

In [9]:
list[::-1]

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [16]:
list.reverse()
print(list)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [1]:
# Method 2: Using list slicing to reverse the list and then print it
reversed_list_slicing = list[::-1]
print("Reversed list using slicing:", reversed_list_slicing)

Reversed list using slicing: list[slice(None, None, -1)]

### While loop

In [3]:
i=2
count=0
while count<100:
    if i%2 ==0 :
        print(i, end=" ")
    count+=1
    i+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

### Shortcut Way

In [5]:
# a) 50 natural numbers list 
even_list=list(range(2,101,2))  #last wala 2 is showing step of 2 
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [6]:
# c)number of element
len(even_list)

50

In [10]:
# d) reverse
even_list.reverse()
print(even_list)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [11]:
# d) method_2 Reverse
new=even_list[:: -1]
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [14]:
new.sort()
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [18]:
new.sort(reverse=True)
print(new)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [24]:
# e)Get the index value for the element 44, and update the element with the number 100.
new.reverse()
print(new)
print(new.index(44))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
21

In [31]:
new[21]

44

In [34]:
new[21]= 100
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 100, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [50]:
# f) square of each element
result=[]
def square_num() :
    for element in new :
        answer=element*element
        result.append(answer)
    return result
square_num()
print(result)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 10000, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

### Question 13 Dictionary operations

13. Create a nested dictionary and perform the following operations. <br>
h. Return a list with the key value pairs from the dictionary.<br>
i. Return a list with just the keys from the dictionary.<br>
j. Remove the first and last key value from the dictionary.<br>
k. Update the last key value pair in the dictionary after removing in the 3rd step.<br>

In [3]:
nest_dict={ 'd1':{'key1':[1,2],'key2': [2,3]},
            'd2':{'key3':[5,6],'key4': [7,8]},                           
            'd3':{'key5':[9,10],'key6': [11,12]} }
print(nest_dict)

{'d1': {'key1': [1, 2], 'key2': [2, 3]}, 'd2': {'key3': [5, 6], 'key4': [7, 8]}, 'd3': {'key5': [9, 10], 'key6': [11, 12]}}

h. Return a list with the key value pairs from the dictionary.

In [4]:
list(nest_dict.items())

[('d1', {'key1': [1, 2], 'key2': [2, 3]}),
 ('d2', {'key3': [5, 6], 'key4': [7, 8]}),
 ('d3', {'key5': [9, 10], 'key6': [11, 12]})]

i. Return a list with just the keys from the dictionary.

In [5]:
list(nest_dict.keys())

['d1', 'd2', 'd3']

j. Remove the first and last key value from the dictionary

In [6]:
del nest_dict['d1']
nest_dict

{'d2': {'key3': [5, 6], 'key4': [7, 8]},
 'd3': {'key5': [9, 10], 'key6': [11, 12]}}

In [7]:
del nest_dict['d3']
nest_dict

{'d2': {'key3': [5, 6], 'key4': [7, 8]}}

k. Update the last key value pair in the dictionary after removing in the 3rd step.

In [8]:
nest_dict['d2']= 100
nest_dict

{'d2': 100}


# 14. For the given strings À = "Python Programming Language", B = "Best in the World", perform the following operations.
           1. Using indexing operations, get the text "gram" from the string A. 
           m. Using indexing operations, get the text "World" from the string B.
           n. Change the letters in both strings to Uppercase letters.
           o. Concatenate the two strings.

In [10]:
A ="Python Programming Language"
B= " Best in the World"

In [13]:
print(A[10:14])

gram

In [17]:
print(B[12:18])

 World

In [20]:
print(B[-5:])

World

In [21]:
A.upper()

'PYTHON PROGRAMMING LANGUAGE'

In [22]:
B.upper()

' BEST IN THE WORLD'

In [23]:
print(A,B)

Python Programming Language  Best in the World

###  15 : create a list with n numbers, and using negative indexing return the list starting from the 5th index to the n-2 th index

In [31]:
n=int(input(""))
lit=[]
for i in range(n):
    lit.append(i)
print(lit)

10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
l=list(range(1,21,1))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
l[-16:-2]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

### 16 : using range() create a list with number ranging from 5-100, and the number of elemetnts should be exactly 16

In [9]:
l=list(range(5,100,6))
print(l)

[5, 11, 17, 23, 29, 35, 41, 47, 53, 59, 65, 71, 77, 83, 89, 95]

In [10]:
print(len(l))

16