In [3]:
import pandas as pd

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\navin kumar\appdata\local\programs\python\python310\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\navin kumar\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\navin kumar\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\navin kumar\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\navin kumar\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\navin kumar\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
python.exe -m pip install

SyntaxError: invalid syntax (2332924114.py, line 1)

In [8]:
pip install -m

Note: you may need to restart the kernel to use updated packages.

Usage:
  C:\Users\Navin Kumar\AppData\Local\Programs\Python\Python310\python.exe -m pip install [options] <requirement specifier> [package-index-options] ...
  C:\Users\Navin Kumar\AppData\Local\Programs\Python\Python310\python.exe -m pip install [options] -r <requirements file> [package-index-options] ...
  C:\Users\Navin Kumar\AppData\Local\Programs\Python\Python310\python.exe -m pip install [options] [-e] <vcs project url> ...
  C:\Users\Navin Kumar\AppData\Local\Programs\Python\Python310\python.exe -m pip install [options] [-e] <local project path> ...
  C:\Users\Navin Kumar\AppData\Local\Programs\Python\Python310\python.exe -m pip install [options] <archive url/path> ...

no such option: -m

In [10]:
sr1= pd.Series()
type(sr1)

pandas.core.series.Series

In [13]:
sr1= pd.Series([1,2,3,4,5])
print(sr1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [33]:
sr1= pd.Series([1.0,2,3,4,5])
print(sr1)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [34]:
sr1= pd.Series([1.0,2,3,4,5,'a'])
print(sr1)

0    1.0
1      2
2      3
3      4
4      5
5      a
dtype: object

In [16]:
#hence: bool ->int -> float -> comlex -> string

In [35]:
dict={"a":1,"b":2}
sr2=pd.Series(dict)
sr2

a    1
b    2
dtype: int64

In [22]:
#above we can see object datatype means string can also be index

In [36]:
sr3=pd.Series([1,2,3,4] , index = ['a','b','c','d'],dtype=float)
sr3

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [37]:
df1=pd.DataFrame()
type(df1)
print(df1)

Empty DataFrame
Columns: []
Index: []

In [39]:
pd.DataFrame(sr1)

     0
0  1.0
1    2
2    3
3    4
4    5
5    a

In [8]:
df2={'a':[1,2,3,4,"n"],
     'b':[6,7,8,9,"o"],
     'c':[2,3,45,6,"u"]
    }
pd.DataFrame(df2)

   a  b   c
0  1  6   2
1  2  7   3
2  3  8  45
3  4  9   6
4  n  o   u

In [12]:
df2= pd.read_csv("C:/Users/Navin Kumar/Documents/iris.csv")
df2

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
df1=pd.DataFrame({'ID':[1,2,3,4,5],
                  'stat':[7,8,9,10,11]
                 })
df1

   ID  stat
0   1     7
1   2     8
2   3     9
3   4    10
4   5    11

In [15]:
df2=pd.DataFrame({'ID':[1,2,9,5,6],
                  'stat':[15,8,34,23,11]
                 })
df2

   ID  stat
0   1    15
1   2     8
2   9    34
3   5    23
4   6    11

In [16]:
df1.merge(df2,on='ID',how='inner')

   ID  stat_x  stat_y
0   1       7      15
1   2       8       8
2   5      11      23

In [17]:
df1.merge(df2,on='ID',how='left')

   ID  stat_x  stat_y
0   1       7    15.0
1   2       8     8.0
2   3       9     NaN
3   4      10     NaN
4   5      11    23.0

In [18]:
df1.merge(df2,on='ID',how='right')

   ID  stat_x  stat_y
0   1     7.0      15
1   2     8.0       8
2   9     NaN      34
3   5    11.0      23
4   6     NaN      11

In [19]:
df1.merge(df2,on='ID',how='outer')

   ID  stat_x  stat_y
0   1     7.0    15.0
1   2     8.0     8.0
2   3     9.0     NaN
3   4    10.0     NaN
4   5    11.0    23.0
5   6     NaN    11.0
6   9     NaN    34.0

#### join

In [20]:
df1.join(df2,lsuffix='_first',rsuffix='_second')

   ID_first  stat_first  ID_second  stat_second
0         1           7          1           15
1         2           8          2            8
2         3           9          9           34
3         4          10          5           23
4         5          11          6           11

### Concat

In [22]:
pd.concat([df1,df2])

   ID  stat
0   1     7
1   2     8
2   3     9
3   4    10
4   5    11
0   1    15
1   2     8
2   9    34
3   5    23
4   6    11

## EDA

In [23]:
df2= pd.read_csv("C:/Users/Navin Kumar/Documents/iris.csv")
df2

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [25]:
df2.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [26]:
df2.tail()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [32]:
df2.shape

(150, 5)

In [31]:
df2.dtypes

sepal length in cm     float64
 sepal width in cm     float64
 petal length in cm    float64
petal width in cm      float64
 class                  object
dtype: object

### just becoz of null value python do not change it's data type

In [40]:
df2.isnull().sum()

sepal length in cm     0
 sepal width in cm     0
 petal length in cm    0
petal width in cm      0
 class                 0
dtype: int64

## new dataset

In [4]:
df=pd.read_csv("C:/Users/Navin Kumar/Desktop/coding_jupyter_notebook/.ipynb_checkpoints/auto-mpg.csv")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [6]:
df.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

### True means null value is present , and false means there is no null value

In [7]:
df.isnull().sum()   #how many true in each column

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [9]:
df.count()   #how many rows that doesn't have null value

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
car name        398
dtype: int64

In [10]:
df.min()

mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                          100
weight                             1613
acceleration                        8.0
model year                           70
origin                                1
car name        amc ambassador brougham
dtype: object

In [11]:
df.max()

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                     ?
weight                      5140
acceleration                24.8
model year                    82
origin                         3
car name        vw rabbit custom
dtype: object

In [12]:
df.mean()

TypeError: Could not convert ['13016515015014019822021522519017016015022595959785884687909511390215200210193889095?1001051008810016517515315018017017511072100888690707665696070958054908616517515015315020815516019097150130140150112768769869297808817515014513715019815015815021522517510510010088954615016717018010088729490851079014523049759111215011012218095?100100678065751001101051401501501401508367785261757575979367951057272170145150148110105110951101101297583100789671979770909588981155386819279831401501201521001058190526070531007811095717075721021508810812018014513015068805896701451101451301101051009818017019014978887589638367789711011048665270601101401391059585881009010585110120145165139140689597759510585971031251151337168115858890110130129138135155142125150716580807712571907070656990115115907660706590889090789075927565105654848676767?676213210088?72848492110845864606765626863656574?7575100748076116120110105888588888885849092?746868637088757067676711085921129684908652847982'
 "chevrolet chevelle malibubuick skylark 320plymouth satelliteamc rebel sstford torinoford galaxie 500chevrolet impalaplymouth fury iiipontiac catalinaamc ambassador dpldodge challenger seplymouth 'cuda 340chevrolet monte carlobuick estate wagon (sw)toyota corona mark iiplymouth dusteramc hornetford maverickdatsun pl510volkswagen 1131 deluxe sedanpeugeot 504audi 100 lssaab 99ebmw 2002amc gremlinford f250chevy c20dodge d200hi 1200ddatsun pl510chevrolet vega 2300toyota coronaford pintoamc gremlinplymouth satellite customchevrolet chevelle malibuford torino 500amc matadorchevrolet impalapontiac catalina broughamford galaxie 500plymouth fury iiidodge monaco (sw)ford country squire (sw)pontiac safari (sw)amc hornet sportabout (sw)chevrolet vega (sw)pontiac firebirdford mustangmercury capri 2000opel 1900peugeot 304fiat 124btoyota corolla 1200datsun 1200volkswagen model 111plymouth crickettoyota corona hardtopdodge colt hardtopvolkswagen type 3chevrolet vegaford pinto runaboutchevrolet impalapontiac catalinaplymouth fury iiiford galaxie 500amc ambassador sstmercury marquisbuick lesabre customoldsmobile delta 88 royalechrysler newport royalmazda rx2 coupeamc matador (sw)chevrolet chevelle concours (sw)ford gran torino (sw)plymouth satellite custom (sw)volvo 145e (sw)volkswagen 411 (sw)peugeot 504 (sw)renault 12 (sw)ford pinto (sw)datsun 510 (sw)toyouta corona mark ii (sw)dodge colt (sw)toyota corolla 1600 (sw)buick century 350amc matadorchevrolet malibuford gran torinododge coronet custommercury marquis broughamchevrolet caprice classicford ltdplymouth fury gran sedanchrysler new yorker broughambuick electra 225 customamc ambassador broughamplymouth valiantchevrolet nova customamc hornetford maverickplymouth dustervolkswagen super beetlechevrolet impalaford countryplymouth custom suburboldsmobile vista cruiseramc gremlintoyota carinachevrolet vegadatsun 610maxda rx3ford pintomercury capri v6fiat 124 sport coupechevrolet monte carlo spontiac grand prixfiat 128opel mantaaudi 100lsvolvo 144eadodge dart customsaab 99letoyota mark iioldsmobile omegaplymouth dusterford maverickamc hornetchevrolet novadatsun b210ford pintotoyota corolla 1200chevrolet vegachevrolet chevelle malibu classicamc matadorplymouth satellite sebringford gran torinobuick century luxus (sw)dodge coronet custom (sw)ford gran torino (sw)amc matador (sw)audi foxvolkswagen dasheropel mantatoyota coronadatsun 710dodge coltfiat 128fiat 124 tchonda civicsubarufiat x1.9plymouth valiant customchevrolet novamercury monarchford maverickpontiac catalinachevrolet bel airplymouth grand furyford ltdbuick centurychevroelt chevelle malibuamc matadorplymouth furybuick skyhawkchevrolet monza 2+2ford mustang iitoyota corollaford pintoamc gremlinpontiac astrotoyota coronavolkswagen dasherdatsun 710ford pintovolkswagen rabbitamc paceraudi 100lspeugeot 504volvo 244dlsaab 99lehonda civic cvccfiat 131opel 1900capri iidodge coltrenault 12tlchevrolet chevelle malibu classicdodge coronet broughamamc matadorford gran torinoplymouth valiantchevrolet novaford maverickamc hornetchevrolet chevettechevrolet woodyvw rabbithonda civicdodge aspen seford granada ghiapontiac ventura sjamc pacer d/lvolkswagen rabbitdatsun b-210toyota corollaford pintovolvo 245plymouth volare premier v8peugeot 504toyota mark iimercedes-benz 280scadillac sevillechevy c10ford f108dodge d100honda accord cvccbuick opel isuzu deluxerenault 5 gtlplymouth arrow gsdatsun f-10 hatchbackchevrolet caprice classicoldsmobile cutlass supremedodge monaco broughammercury cougar broughamchevrolet concoursbuick skylarkplymouth volare customford granadapontiac grand prix ljchevrolet monte carlo landauchrysler cordobaford thunderbirdvolkswagen rabbit custompontiac sunbird coupetoyota corolla liftbackford mustang ii 2+2chevrolet chevettedodge colt m/msubaru dlvolkswagen dasherdatsun 810bmw 320imazda rx-4volkswagen rabbit custom dieselford fiestamazda glc deluxedatsun b210 gxhonda civic cvccoldsmobile cutlass salon broughamdodge diplomatmercury monarch ghiapontiac phoenix ljchevrolet malibuford fairmont (auto)ford fairmont (man)plymouth volareamc concordbuick century specialmercury zephyrdodge aspenamc concord d/lchevrolet monte carlo landaubuick regal sport coupe (turbo)ford futuradodge magnum xechevrolet chevettetoyota coronadatsun 510dodge omnitoyota celica gt liftbackplymouth sapporooldsmobile starfire sxdatsun 200-sxaudi 5000volvo 264glsaab 99glepeugeot 604slvolkswagen sciroccohonda accord lxpontiac lemans v6mercury zephyr 6ford fairmont 4amc concord dl 6dodge aspen 6chevrolet caprice classicford ltd landaumercury grand marquisdodge st. regisbuick estate wagon (sw)ford country squire (sw)chevrolet malibu classic (sw)chrysler lebaron town @ country (sw)vw rabbit custommaxda glc deluxedodge colt hatchback customamc spirit dlmercedes benz 300dcadillac eldoradopeugeot 504oldsmobile cutlass salon broughamplymouth horizonplymouth horizon tc3datsun 210fiat strada custombuick skylark limitedchevrolet citationoldsmobile omega broughampontiac phoenixvw rabbittoyota corolla tercelchevrolet chevettedatsun 310chevrolet citationford fairmontamc concorddodge aspenaudi 4000toyota corona liftbackmazda 626datsun 510 hatchbacktoyota corollamazda glcdodge coltdatsun 210vw rabbit c (diesel)vw dasher (diesel)audi 5000s (diesel)mercedes-benz 240dhonda civic 1500 glrenault lecar deluxesubaru dlvokswagen rabbitdatsun 280-zxmazda rx-7 gstriumph tr7 coupeford mustang cobrahonda accordplymouth reliantbuick skylarkdodge aries wagon (sw)chevrolet citationplymouth relianttoyota starletplymouth champhonda civic 1300subarudatsun 210 mpgtoyota tercelmazda glc 4plymouth horizon 4ford escort 4wford escort 2hvolkswagen jettarenault 18ihonda preludetoyota corolladatsun 200sxmazda 626peugeot 505s turbo dieselvolvo dieseltoyota cressidadatsun 810 maximabuick centuryoldsmobile cutlass lsford granada glchrysler lebaron salonchevrolet cavalierchevrolet cavalier wagonchevrolet cavalier 2-doorpontiac j2000 se hatchbackdodge aries sepontiac phoenixford fairmont futuraamc concord dlvolkswagen rabbit lmazda glc custom lmazda glc customplymouth horizon misermercury lynx lnissan stanza xehonda accordtoyota corollahonda civichonda civic (auto)datsun 310 gxbuick century limitedoldsmobile cutlass ciera (diesel)chrysler lebaron medallionford granada ltoyota celica gtdodge charger 2.2chevrolet camaroford mustang glvw pickupdodge rampageford rangerchevy s-10"] to numeric

In [54]:
df.median()

TypeError: Cannot convert [['130' '165' '150' '150' '140' '198' '220' '215' '225' '190' '170' '160'
  '150' '225' '95' '95' '97' '85' '88' '46' '87' '90' '95' '113' '90'
  '215' '200' '210' '193' '88' '90' '95' '?' '100' '105' '100' '88' '100'
  '165' '175' '153' '150' '180' '170' '175' '110' '72' '100' '88' '86'
  '90' '70' '76' '65' '69' '60' '70' '95' '80' '54' '90' '86' '165' '175'
  '150' '153' '150' '208' '155' '160' '190' '97' '150' '130' '140' '150'
  '112' '76' '87' '69' '86' '92' '97' '80' '88' '175' '150' '145' '137'
  '150' '198' '150' '158' '150' '215' '225' '175' '105' '100' '100' '88'
  '95' '46' '150' '167' '170' '180' '100' '88' '72' '94' '90' '85' '107'
  '90' '145' '230' '49' '75' '91' '112' '150' '110' '122' '180' '95' '?'
  '100' '100' '67' '80' '65' '75' '100' '110' '105' '140' '150' '150'
  '140' '150' '83' '67' '78' '52' '61' '75' '75' '75' '97' '93' '67' '95'
  '105' '72' '72' '170' '145' '150' '148' '110' '105' '110' '95' '110'
  '110' '129' '75' '83' '100' '78' '96' '71' '97' '97' '70' '90' '95'
  '88' '98' '115' '53' '86' '81' '92' '79' '83' '140' '150' '120' '152'
  '100' '105' '81' '90' '52' '60' '70' '53' '100' '78' '110' '95' '71'
  '70' '75' '72' '102' '150' '88' '108' '120' '180' '145' '130' '150'
  '68' '80' '58' '96' '70' '145' '110' '145' '130' '110' '105' '100' '98'
  '180' '170' '190' '149' '78' '88' '75' '89' '63' '83' '67' '78' '97'
  '110' '110' '48' '66' '52' '70' '60' '110' '140' '139' '105' '95' '85'
  '88' '100' '90' '105' '85' '110' '120' '145' '165' '139' '140' '68'
  '95' '97' '75' '95' '105' '85' '97' '103' '125' '115' '133' '71' '68'
  '115' '85' '88' '90' '110' '130' '129' '138' '135' '155' '142' '125'
  '150' '71' '65' '80' '80' '77' '125' '71' '90' '70' '70' '65' '69' '90'
  '115' '115' '90' '76' '60' '70' '65' '90' '88' '90' '90' '78' '90' '75'
  '92' '75' '65' '105' '65' '48' '48' '67' '67' '67' '?' '67' '62' '132'
  '100' '88' '?' '72' '84' '84' '92' '110' '84' '58' '64' '60' '67' '65'
  '62' '68' '63' '65' '65' '74' '?' '75' '75' '100' '74' '80' '76' '116'
  '120' '110' '105' '88' '85' '88' '88' '88' '85' '84' '90' '92' '?' '74'
  '68' '68' '63' '70' '88' '75' '70' '67' '67' '67' '110' '85' '92' '112'
  '96' '84' '90' '86' '52' '84' '79' '82']
 ['chevrolet chevelle malibu' 'buick skylark 320' 'plymouth satellite'
  'amc rebel sst' 'ford torino' 'ford galaxie 500' 'chevrolet impala'
  'plymouth fury iii' 'pontiac catalina' 'amc ambassador dpl'
  'dodge challenger se' "plymouth 'cuda 340" 'chevrolet monte carlo'
  'buick estate wagon (sw)' 'toyota corona mark ii' 'plymouth duster'
  'amc hornet' 'ford maverick' 'datsun pl510'
  'volkswagen 1131 deluxe sedan' 'peugeot 504' 'audi 100 ls' 'saab 99e'
  'bmw 2002' 'amc gremlin' 'ford f250' 'chevy c20' 'dodge d200'
  'hi 1200d' 'datsun pl510' 'chevrolet vega 2300' 'toyota corona'
  'ford pinto' 'amc gremlin' 'plymouth satellite custom'
  'chevrolet chevelle malibu' 'ford torino 500' 'amc matador'
  'chevrolet impala' 'pontiac catalina brougham' 'ford galaxie 500'
  'plymouth fury iii' 'dodge monaco (sw)' 'ford country squire (sw)'
  'pontiac safari (sw)' 'amc hornet sportabout (sw)'
  'chevrolet vega (sw)' 'pontiac firebird' 'ford mustang'
  'mercury capri 2000' 'opel 1900' 'peugeot 304' 'fiat 124b'
  'toyota corolla 1200' 'datsun 1200' 'volkswagen model 111'
  'plymouth cricket' 'toyota corona hardtop' 'dodge colt hardtop'
  'volkswagen type 3' 'chevrolet vega' 'ford pinto runabout'
  'chevrolet impala' 'pontiac catalina' 'plymouth fury iii'
  'ford galaxie 500' 'amc ambassador sst' 'mercury marquis'
  'buick lesabre custom' 'oldsmobile delta 88 royale'
  'chrysler newport royal' 'mazda rx2 coupe' 'amc matador (sw)'
  'chevrolet chevelle concours (sw)' 'ford gran torino (sw)'
  'plymouth satellite custom (sw)' 'volvo 145e (sw)'
  'volkswagen 411 (sw)' 'peugeot 504 (sw)' 'renault 12 (sw)'
  'ford pinto (sw)' 'datsun 510 (sw)' 'toyouta corona mark ii (sw)'
  'dodge colt (sw)' 'toyota corolla 1600 (sw)' 'buick century 350'
  'amc matador' 'chevrolet malibu' 'ford gran torino'
  'dodge coronet custom' 'mercury marquis brougham'
  'chevrolet caprice classic' 'ford ltd' 'plymouth fury gran sedan'
  'chrysler new yorker brougham' 'buick electra 225 custom'
  'amc ambassador brougham' 'plymouth valiant' 'chevrolet nova custom'
  'amc hornet' 'ford maverick' 'plymouth duster'
  'volkswagen super beetle' 'chevrolet impala' 'ford country'
  'plymouth custom suburb' 'oldsmobile vista cruiser' 'amc gremlin'
  'toyota carina' 'chevrolet vega' 'datsun 610' 'maxda rx3' 'ford pinto'
  'mercury capri v6' 'fiat 124 sport coupe' 'chevrolet monte carlo s'
  'pontiac grand prix' 'fiat 128' 'opel manta' 'audi 100ls' 'volvo 144ea'
  'dodge dart custom' 'saab 99le' 'toyota mark ii' 'oldsmobile omega'
  'plymouth duster' 'ford maverick' 'amc hornet' 'chevrolet nova'
  'datsun b210' 'ford pinto' 'toyota corolla 1200' 'chevrolet vega'
  'chevrolet chevelle malibu classic' 'amc matador'
  'plymouth satellite sebring' 'ford gran torino'
  'buick century luxus (sw)' 'dodge coronet custom (sw)'
  'ford gran torino (sw)' 'amc matador (sw)' 'audi fox'
  'volkswagen dasher' 'opel manta' 'toyota corona' 'datsun 710'
  'dodge colt' 'fiat 128' 'fiat 124 tc' 'honda civic' 'subaru'
  'fiat x1.9' 'plymouth valiant custom' 'chevrolet nova'
  'mercury monarch' 'ford maverick' 'pontiac catalina'
  'chevrolet bel air' 'plymouth grand fury' 'ford ltd' 'buick century'
  'chevroelt chevelle malibu' 'amc matador' 'plymouth fury'
  'buick skyhawk' 'chevrolet monza 2+2' 'ford mustang ii'
  'toyota corolla' 'ford pinto' 'amc gremlin' 'pontiac astro'
  'toyota corona' 'volkswagen dasher' 'datsun 710' 'ford pinto'
  'volkswagen rabbit' 'amc pacer' 'audi 100ls' 'peugeot 504'
  'volvo 244dl' 'saab 99le' 'honda civic cvcc' 'fiat 131' 'opel 1900'
  'capri ii' 'dodge colt' 'renault 12tl'
  'chevrolet chevelle malibu classic' 'dodge coronet brougham'
  'amc matador' 'ford gran torino' 'plymouth valiant' 'chevrolet nova'
  'ford maverick' 'amc hornet' 'chevrolet chevette' 'chevrolet woody'
  'vw rabbit' 'honda civic' 'dodge aspen se' 'ford granada ghia'
  'pontiac ventura sj' 'amc pacer d/l' 'volkswagen rabbit' 'datsun b-210'
  'toyota corolla' 'ford pinto' 'volvo 245' 'plymouth volare premier v8'
  'peugeot 504' 'toyota mark ii' 'mercedes-benz 280s' 'cadillac seville'
  'chevy c10' 'ford f108' 'dodge d100' 'honda accord cvcc'
  'buick opel isuzu deluxe' 'renault 5 gtl' 'plymouth arrow gs'
  'datsun f-10 hatchback' 'chevrolet caprice classic'
  'oldsmobile cutlass supreme' 'dodge monaco brougham'
  'mercury cougar brougham' 'chevrolet concours' 'buick skylark'
  'plymouth volare custom' 'ford granada' 'pontiac grand prix lj'
  'chevrolet monte carlo landau' 'chrysler cordoba' 'ford thunderbird'
  'volkswagen rabbit custom' 'pontiac sunbird coupe'
  'toyota corolla liftback' 'ford mustang ii 2+2' 'chevrolet chevette'
  'dodge colt m/m' 'subaru dl' 'volkswagen dasher' 'datsun 810'
  'bmw 320i' 'mazda rx-4' 'volkswagen rabbit custom diesel' 'ford fiesta'
  'mazda glc deluxe' 'datsun b210 gx' 'honda civic cvcc'
  'oldsmobile cutlass salon brougham' 'dodge diplomat'
  'mercury monarch ghia' 'pontiac phoenix lj' 'chevrolet malibu'
  'ford fairmont (auto)' 'ford fairmont (man)' 'plymouth volare'
  'amc concord' 'buick century special' 'mercury zephyr' 'dodge aspen'
  'amc concord d/l' 'chevrolet monte carlo landau'
  'buick regal sport coupe (turbo)' 'ford futura' 'dodge magnum xe'
  'chevrolet chevette' 'toyota corona' 'datsun 510' 'dodge omni'
  'toyota celica gt liftback' 'plymouth sapporo' 'oldsmobile starfire sx'
  'datsun 200-sx' 'audi 5000' 'volvo 264gl' 'saab 99gle' 'peugeot 604sl'
  'volkswagen scirocco' 'honda accord lx' 'pontiac lemans v6'
  'mercury zephyr 6' 'ford fairmont 4' 'amc concord dl 6' 'dodge aspen 6'
  'chevrolet caprice classic' 'ford ltd landau' 'mercury grand marquis'
  'dodge st. regis' 'buick estate wagon (sw)' 'ford country squire (sw)'
  'chevrolet malibu classic (sw)' 'chrysler lebaron town @ country (sw)'
  'vw rabbit custom' 'maxda glc deluxe' 'dodge colt hatchback custom'
  'amc spirit dl' 'mercedes benz 300d' 'cadillac eldorado' 'peugeot 504'
  'oldsmobile cutlass salon brougham' 'plymouth horizon'
  'plymouth horizon tc3' 'datsun 210' 'fiat strada custom'
  'buick skylark limited' 'chevrolet citation'
  'oldsmobile omega brougham' 'pontiac phoenix' 'vw rabbit'
  'toyota corolla tercel' 'chevrolet chevette' 'datsun 310'
  'chevrolet citation' 'ford fairmont' 'amc concord' 'dodge aspen'
  'audi 4000' 'toyota corona liftback' 'mazda 626' 'datsun 510 hatchback'
  'toyota corolla' 'mazda glc' 'dodge colt' 'datsun 210'
  'vw rabbit c (diesel)' 'vw dasher (diesel)' 'audi 5000s (diesel)'
  'mercedes-benz 240d' 'honda civic 1500 gl' 'renault lecar deluxe'
  'subaru dl' 'vokswagen rabbit' 'datsun 280-zx' 'mazda rx-7 gs'
  'triumph tr7 coupe' 'ford mustang cobra' 'honda accord'
  'plymouth reliant' 'buick skylark' 'dodge aries wagon (sw)'
  'chevrolet citation' 'plymouth reliant' 'toyota starlet'
  'plymouth champ' 'honda civic 1300' 'subaru' 'datsun 210 mpg'
  'toyota tercel' 'mazda glc 4' 'plymouth horizon 4' 'ford escort 4w'
  'ford escort 2h' 'volkswagen jetta' 'renault 18i' 'honda prelude'
  'toyota corolla' 'datsun 200sx' 'mazda 626' 'peugeot 505s turbo diesel'
  'volvo diesel' 'toyota cressida' 'datsun 810 maxima' 'buick century'
  'oldsmobile cutlass ls' 'ford granada gl' 'chrysler lebaron salon'
  'chevrolet cavalier' 'chevrolet cavalier wagon'
  'chevrolet cavalier 2-door' 'pontiac j2000 se hatchback'
  'dodge aries se' 'pontiac phoenix' 'ford fairmont futura'
  'amc concord dl' 'volkswagen rabbit l' 'mazda glc custom l'
  'mazda glc custom' 'plymouth horizon miser' 'mercury lynx l'
  'nissan stanza xe' 'honda accord' 'toyota corolla' 'honda civic'
  'honda civic (auto)' 'datsun 310 gx' 'buick century limited'
  'oldsmobile cutlass ciera (diesel)' 'chrysler lebaron medallion'
  'ford granada l' 'toyota celica gt' 'dodge charger 2.2'
  'chevrolet camaro' 'ford mustang gl' 'vw pickup' 'dodge rampage'
  'ford ranger' 'chevy s-10']] to numeric

In [13]:
df.describe()  #will only work for numerical data

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [16]:
numerical_df = df.select_dtypes(include=['number'])
mean_values = numerical_df.mean()
print(mean_values)

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64

In [17]:
df = df.apply(pd.to_numeric, errors='coerce')
mean_values = df.mean()
print(mean_values)

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
car name                NaN
dtype: float64

In [19]:
import numpy as np
arr1= np.array([[3,2,1],[6,4,5],[8,7,9]])

In [23]:
arr1.max()

9

In [25]:
answer=np.amax(arr1, axis=0)-np.amin(arr1, axis=1)
answer

array([7, 3, 2])